.ButtonBox {
    width: 30em;
    height: 11em;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;

    & .imageWrapper {
        width: 12rem;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: 0.3em;
            border-radius: 12px;
        }
    }

    & .cardInfoContainer {
        width: calc(100% - 12rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2em;
        padding-top: 1.4em;

        & .cardText {
            h2 {
                font-size: 1.3em;
                font-weight: 800;
                margin-bottom: 0.7em;
            }

            p {
                font-size: 0.8em;
                color: gray;
                line-height: 1.4;
            }
        }

        & .cardFooter {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                width: 8em;
                height: 2.4em;
                border-radius: 4px;
                border: none;
                color: #fff;
                cursor: pointer;
                background: rgb(66, 84, 148);
                background: linear-gradient(180deg, rgba(66, 84, 148, 1) 0%, rgba(57, 65, 153, 1) 100%);
            }
        }
    }

    & .disabledCover {
        display: none;
        justify-content: center;
        align-items: center;
    }
}

.ButtonBox.disabled {
    cursor: not-allowed;

    & .disabledCover {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #0000005b;
        position: absolute;
        background: rgba(0, 0, 0, 0.57);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);

        & h3 {
            color: white;
            font-size: 1.6em;
        }
    }

}