.background {
  height: 100%;
  width: 100%;
  background-image: url("/src/assets/images/backboard.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;


  .vignette {
    box-shadow: inset 30px 30px 200px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 997;
    pointer-events: none;
  }
}

