@font-face { 
    src: url('/src/assets/fonts/Molle-Italic.ttf'); 
    font-family: "Molle", cursive; 
    font-weight: 400; 
    font-style: italic; 
     } 
    @font-face { 
    src: url('/fonts/Typo_CrayonL.ttf'); 
    font-family: "Typo_CrayonL"; 
     } 
    @font-face { 
    src: url('/fonts/Typo_CrayonM.ttf'); 
    font-family: "Typo_CrayonM"; 
     } 
    
    @font-face { 
     font-family: 'GmarketSansMedium'; 
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); 
     font-weight: normal; 
     font-style: normal; 
     } 
    
     @font-face { 
     font-family: 'RiaSans-ExtraBold'; 
     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2'); 
     font-weight: normal; 
     font-style: normal; 
     } 
    
     @font-face {
        font-family: 'MYYeongnamnu';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'EF_jejudoldam';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'SF_HambakSnow';
        src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }