.bodyContainer{
    width: 100%;
    height: 60rem;
    background-color: #fbfcfe;
    display: flex;
    justify-content: center;

    .bodyWrapper{
        width: 65em;
        .bodyHeaderArea{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;
        }
    }
}